Body{
	margin: 0;
	font-family: helvectica, Arial, sans-serif;
	font-size:20px ;
	line-height: 30px;

}

header{
	background-color: blueviolet;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Rubik Bubbles', cursive;
}

header h1{
	color: ghostwhite;
	font-size: 50px;	
}

header img{
	border-radius: 170px;
	width: 300px;
	border: 20px solid lightblue;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 35px;
	color: palevioletred;
	margin: 45px 0 11px;
}

a{
	color: greenyellow;
}
a:hover{
	color: cadetblue;
	background-color: white;
}

footer{
	background-color: burlywood;
	text-align: center;
	color: red;
	padding: 50px;
}

footer p{
	margin: 0;
}

footer a{
	color:white;
}
footer a: hover{
	opacity: .5;
	background-color: transparent;
}

P.caption{
	color: #999999;
	font-style: italic;
	margin-top: 0;
}






